<!DOCTYPE html>
<html>
  <head>
    <title>口座管理システム</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/main.js"></script>

    <!-- load css mocha -->
    <!-- <link href="https://cdn.rawgit.com/mochajs/mocha/2.2.5/mocha.css" rel="stylesheet" /> -->
    <!-- load js mocha -->
    <!-- <script src="https://cdn.rawgit.com/mochajs/mocha/2.2.5/mocha.js"></script> -->
    <!-- load js chai -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/chai/4.1.2/chai.min.js"></script> -->
    <!-- load js test script -->
    <!-- <script src="./__tests__/test.js"></script> -->

  </head>
  <body>
    <!-- <div id="mocha"></div> -->
    <div class="header">
      <p><span>ユーザ名：<%= userName %></span></p>
    </div>

    <div class="contents">
      <div class="container">
        <p>現在の残高：</p>
        <form method="POST" action="./setOrderHistory">
          <div class="flex">
            <label>商品名</label>
            <input type="text" name="product_name">
          </div>
          <div class="flex">
            <label>商品価格</label>
            <input type="text" name="product_price">
          </div>
          <div class="flex">
            <label>分類</label>
            <div>
              <label><input type="radio" name="grouping" value="0">入金</label>
              <label><input type="radio" name="grouping" value="1" checked>出金</label>
            </div>
          </div>
	  <
          <div class="flex flex-right">
            <button type="submit">送信</button>
          </div>
        </form>
        <div class="order_history_table">
          <div class="order_history_column flex">
	    <div>日時</div>
            <div>列番号</div>
            <div>id</div>
            <div>商品名</div>
            <div>商品価格</div>
            <div>残高</div>
          </div>
        </div>
        <div class="pagenation flex">
          <button><</button>
        </div>
      </div>
    </div>
  </body>
</html>
